# Remove the previous line if you edit this file

# Export all names
export(abuocc,clustify,compspec,concov,const,dematrify,dga,disana,dropplt,dropspc,dsvdis, 
envrtest,euclidify,homoteneity,importance,plot.compspec,indval, 
indval.default,indval.stride,summary.indval,isamic,matrify,metrify, 
nmds,plot.nmds,points.nmds,plotid.nmds,surf.nmds,bestnmds,hilight.nmds, 
chullord.nmds,density.nmds,ordcomp,orddist,ordpart, 
ordpart.pco,ordpart.pca,ordpart.nmds,ordtaxa,ordtest,surf,plotid, 
specid,hilight,chullord,thull,density,thull,pca,plot.pca,points.pca, 
plotid.pca,surf.pca,summary.pca,scores.pca,loadings.pca,varplot.pca, 
hilight.pca,chullord.pca,pco,plot.pco,points.pco,plotid.pco,surf.pco, 
hilight.pco,chullord.pco,density.pco,raretaxa,reconcile, 
rnddist,rndtaxa,spcdisc,thull.nmds,thull.pco, 
plot.thull,vegtab,vegtrans 
)

# Import all packages listed as Imports or Depends
import(
  mgcv,
  MASS,
  cluster
)
  importFrom("grDevices", "chull", "rainbow")
  importFrom("graphics", "abline", "barplot", "contour", "identify",
             "image", "lines", "locator", "plot", "points", "polygon",
             "text")
  importFrom("stats", "as.dist", "binomial", "cmdscale", "cor", "dist",
             "gaussian", "poisson", "prcomp", "predict", "quantile",
             "runif", "smooth")
  importFrom("utils", "write.table")

# Register all generic methods
S3method(chullord,nmds)
S3method(chullord,pca)
S3method(chullord,pco)

S3method(density,nmds)
S3method(density,pco)

S3method(hilight,nmds)
S3method(hilight,pca)
S3method(hilight,pco)

S3method(indval,default)
S3method(indval,stride)

S3method(ordpart,nmds)
S3method(ordpart,pca)
S3method(ordpart,pco)

S3method(plot,compspec)
S3method(plot,nmds)
S3method(plot,pca)
S3method(plot,pco)
S3method(plot,thull)
S3method(plotid,nmds)
S3method(plotid,pca)
S3method(plotid,pco)
S3method(points,nmds)

S3method(points,pca)
S3method(points,pco)

S3method(summary,indval)
S3method(summary,pca)

S3method(surf,nmds)
S3method(surf,pca)

S3method(surf,pco)
S3method(thull,nmds)
S3method(thull,pco)

useDynLib(labdsv)









